0.0.0.0:8000

tls off

gzip

log / stdout "\{\"time\": \"{when_iso}\",\"lang\": \"{>Detected-Locale}\", \"host\": \"{host}\", \"scheme\": \"{scheme}\", \"remote\": \"{remote}\", \"real-ip\": \"{>X-Forwarded-For}\", \"request_id\": \"{>X-Request-Id}\", \"bytes_sent\": {size}, \"status\": {status}, \"request_proto\": \"{proto}\", \"path_rewrite\":\"{rewrite_uri}\", \"path\": \"{uri}\", \"request_query\": \"{query_escaped}\", \"duration\": {latency_ms}, \"method\": \"{method}\", \"http_referrer\": \"{>Referer}\", \"user-agent\": \"{>User-Agent}\", \"cache-statue\":\"{cache_status}\"}"

errors stdout

root /var/www/

expires {
    match .(jpg|jpeg|png|gif|ico|svg)$ 1h
    match .(js|css)$ 1h
}

rewrite {
    r ^/(.*)$
    to /{1} /
}