.App {
  color: rgb(72, 72, 82);
}

.App-logo {
  margin-top: 20px;
  height: 55px;
}

.App-header {
  height: 130px;
  padding: 20px;
  text-align: center;
}

h1.logo {
  font-size: 19px;
  letter-spacing: 1px;
}

h1.main {
  font-size: 23px;
  letter-spacing: 1px;
}

.main-container {
  margin: 0px auto;
  max-width: 900px;
  width: 80%;
  margin: 0px auto;
}

/*********************************/
/********** EXPERIMENT ***********/
/*********************************/

.experiment-list {
  background: #fff;
  border-radius: 5px;
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 5px 10px -3px rgba(0,0,0, 0.1);
}

.experiment-list ul {
  list-style: none;
  padding-left: 0px;
  position: relative;
}

.experiment-list li {
  background: #fff;
  height: 40px;
  padding-left: 20px;
  padding-top: 14px;
  border-bottom: 2px solid #F7F7F7;
  position: relative;
}

.experiment-list li:hover {
  background: #F7F7F7;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.experiment-list  li h3 {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}


/**********************************/
/************* TRIAL **************/
/**********************************/

.trial-list {
  background: #fff;
  border-radius: 5px;
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 5px 10px -3px rgba(0,0,0, 0.1);
}

.trial-list ul {
  list-style: none;
  padding-left: 0px;
  position: relative;
}

.trial-list li {
  background: #fff;
  height: 40px;
  padding-left: 20px;
  padding-top: 14px;
  border-bottom: 2px solid #F7F7F7;
  position: relative;
}

.trial-list li:hover {
  background: #F7F7F7;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.trial-list li:first-child{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.trial-list li:last-child{
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom: 0px;
}

.trial-list li h3 {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

.trial-list li .author {
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}

.trial-list li .score {
  position: absolute;
  /*display: block;*/
  right: 10px;
  top: 0px;
  font-size: 20px;
  padding: 10px;
  padding-top: 15px;
}

.trial-expanded {
  min-height: 300px;
}

/**********************************/
/************* CHART **************/
/**********************************/

.home-chart {
  background-color: #FFF;
  font-size: 12px;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  padding: 20px;
  padding-left: 0px;
  margin: 20px 0px;
}
