.App {
  color: rgb(72, 72, 82);
  padding: 10px;
}

div {
}

.App-logo {
  height: 45px;
  margin: 12px;
  margin-top: 20px;
}

.App-header {
  height: 130px;
  padding: 20px;
  text-align: center;
}

.left-menu {
  width: 70px;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #fff;
  border-right: 1px solid rgb(233, 233, 233);
  box-shadow: 2px 5px 3px px rgba(0,0,0, 0.08);
  z-index: 100;
}

.menu-bottom-button {
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
}


h1.logo {
  font-size: 19px;
  letter-spacing: 1px;
}

h1.main {
  font-size: 22px;
  letter-spacing: 1px;
  margin: 15px 0px;
}

.main-container {
  margin: 0px auto;
  max-width: 900px;
  width: 80%;
  margin: 0px auto;
}

p.author {
  /*background: rgb(240, 240, 240);*/
  background-color: #F7F7F7;
  border: 2px solid #dfdfdf;
  border-radius: 3px;
  display: inline-block;
  margin: 8px 0px;
  padding: 1px 4px;
  font-size: 13px;
}


/*********************************/
/********** EXPERIMENT ***********/
/*********************************/

.experiment-list {
  background: #fff;
  border-radius: 5px;
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 5px 10px -3px rgba(0,0,0, 0.1);
}

.experiment-list ul {
  list-style: none;
  padding-left: 0px;
  position: relative;
}

.experiment-list li {
  background: #fff;
  height: 80px;
  padding: 13px;
  padding-left: 20px;
  border-bottom: 2px solid #F7F7F7;
  position: relative;
}

.experiment-list li:hover {
  background: #F7F7F7;
  cursor: pointer;
  position: relative;
}

.experiment-list  li h3 {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

.experiment-list li:first-child{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.experiment-list li:last-child{
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom: 0px;
}

.experiment-list ul li .trial-count span {
  font-size: 25px;
}
.experiment-list ul li .trial-count {
  text-align: center;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 12px;
  padding: 13px;
}


/**********************************/
/************* TRIAL **************/
/**********************************/

.trial-list {
  background: #fff;
  border-radius: 5px;
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 5px 10px -3px rgba(0,0,0, 0.1);
}

.trial-list ul {
  list-style: none;
  padding-left: 0px;
  position: relative;
}

.trial-list li {
  background: #fff;
  height: 60px;
  padding: 10px;
  padding-left: 20px;
  border-bottom: 2px solid #F7F7F7;
  position: relative;
}

.trial-list li:hover {
  background: #F7F7F7;
  cursor: pointer;
  position: relative;
}

.trial-list li:first-child{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.trial-list li:last-child{
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom: 0px;
}

.trial-list li h3 {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

.trial-list li .date {
  font-size: 13px;
  padding: 0px;
  color: #919197;
  font-weight: 600;
}

.trial-list li .score {
  position: absolute;
  /*display: block;*/
  right: 10px;
  top: 0px;
  font-size: 20px;
  padding: 10px;
  padding-top: 15px;
}

li.trial-expanded {
  min-height: 100px;
  max-height: none;
  height: auto;
  position: relative;
  /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);*/
  background-color: #F7F7F7 !important;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  /*border-bottom: 2px solid transparent !important;*/
  z-index: 100;
}

li.trial-expanded .score {
  top: 10px;
}
.trial-list li .score span {
  font-size: 11.5px;
  text-transform: uppercase;
  margin-right: 5px;
  position: relative;
  font-weight: 800;
  opacity: 0.7;
  letter-spacing: 1px;
  top: -1px;
}


/**********************************/
/************* TABLE **************/
/**********************************/
table {
  position: relative;
  background: #dfdfdf;
  min-width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 2px;
}
table, th, td {
    /*border: 1px solid #dfdfdf;*/
}

th, td {
  padding: 5px;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
}


.dataset-label {
    /*background: rgb(240, 240, 240);*/
    background-color: #F7F7F7;
    border: 2px solid #dfdfdf;
    color: rgb(131, 16, 68);
    border-radius: 3px;
    /*display: inline-block;*/
    margin-left: 15px;
    padding: 1px 4px;
    font-size: 13px;

}
