body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f4f1f1;
  color: rgb(68, 66, 87);
  font-family: 'Inconsolata', 'Titillium Web', 'Oxygen Mono', monospace;
  font-size: 14px;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4 {
  font-family: 'Lekton', sans-serif;

}

.App {
  color: #46474b !important;
  padding: 10px;
  .App-logo {
    height: 42px;
    margin: 10px;
    margin-top: 20px;
  }
  .App-header {
    height: 130px;
    padding: 20px;
    text-align: center;
  }
}

.ant-card-body {
  padding: 20px 0px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.left-menu {
  width: 60px;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #fff;
  border-right: 1px solid rgb(233, 233, 233);
  box-shadow: 2px 5px 3px px rgba(0,0,0, 0.08);
  z-index: 100;
}

.menu-bottom-button {
  position: absolute;
  bottom: 0px;
  padding: 7px 14px;
}

h1 {
  &.logo {
    font-size: 19px;
    letter-spacing: 1px;
  }
  &.main {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 15px 0px;
  }
  &.no-trials {
    font-size: px;
    margin: 30px 0px;
  }
}


.main-container {
  margin: 0px auto;
  max-width: 1050px;
  width: 75%;
  margin: 0px auto;
}

i.author {
  display: inline-block;
  margin: 8px 0px;
  font-size: 13px;
}

/*********************************/
/********** EXPERIMENT ***********/
/*********************************/

.experiment-list {
  background: #fff;
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;
  box-shadow: 0px 3px 5px -3px rgba(0,0,0, 0.1);
  ul {
    list-style: none;
    padding-left: 0px;
    position: relative;
    li {
      background: #fff;
      height: 80px;
      padding: 13px;
      padding-left: 20px;
      border-bottom: 2px solid #F7F7F7;
      position: relative;
      border: 1px solid #efefef;

      &:hover {
        background: #F7F7F7;
        cursor: pointer;
        position: relative;
      }
      h3 {
        font-size: 16px;
        padding: 0px;
        margin: 0px;
      }
      &:first-child {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
      }
      &:last-child{
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-bottom: 0px;
      }
      .trial-count {
        text-align: center;
        position: absolute;
        right: 10px;
        top: 0px;
        font-size: 12px;
        padding: 13px;
      }
      .algo-count {
        text-align: center;
        position: absolute;
        right: 80px;
        top: 0px;
        font-size: 12px;
        padding: 13px;
      }
      div.algo-count span,
      div.trial-count span {
        font-size: 25px;
      }
    }
  }
}

.experiment-description {
  margin: 20px 0px;
}

/**********************************/
/************* TRIAL **************/
/**********************************/

.trial-list {
  background: #fff;
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;
  box-shadow: 0px 5px 10px -3px rgba(0,0,0, 0.1);
  border: 1px solid #e9e9e9;

  ul {
    list-style: none;
    padding-left: 0px;
    position: relative;
    li {
      &.trial {
        background: #fff;
        height: 60px;
        padding: 10px;
        padding-left: 20px;
        border-bottom: 2px solid #F7F7F7;
        position: relative;

        &:hover {
          background: #F7F7F7;
          cursor: pointer;
          position: relative;
        }
        &:first-child{
          border-top-left-radius: 5px !important;
          border-top-right-radius: 5px !important;
        }
        &:last-child{
          border-bottom-left-radius: 5px !important;
          border-bottom-right-radius: 5px !important;
          border-bottom: 0px;
        }
        h3 {
          font-size: 15px;
          padding: 0px;
          margin: 0px;
        }
        .date {
          font-size: 12px;
          padding: 0px;
          color: #919197;
          font-weight: 600;
        }
      }
      &.trial-expanded {
        min-height: 100px;
        max-height: none;
        height: auto;
        position: relative;
        box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.05),
                    0px 3px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        z-index: 100;
        width: 101%;
        right: .5%;
        border-radius: 5px;

        div.trial-expanded-header {
          background-color: #F7F7F7;
          padding: 15px;
          border-bottom: 1px solid #e9e9e9;
          cursor: pointer;
          border-top-left-radius: 5px !important;
          border-top-right-radius: 5px !important;
          box-shadow: inset 0px 20px 50px -10px rgba(#fff, 1);
          h2 {
            font-size: 18px;
          }
        }
        div.trial-expanded-content {
          padding: 15px;
        }
        .score {
          top: 10px;
        }
      }
      .score {
        position: absolute;
        right: 10px;
        top: 0px;
        font-size: 18px;
        padding: 10px;
        padding-top: 15px;
      }
    }
  }
}

.trial-list li .score span {
  font-size: 11.5px;
  text-transform: uppercase;
  margin-right: 5px;
  position: relative;
  font-weight: 800;
  opacity: 0.7;
  letter-spacing: 1px;
  top: -1px;
}


/**********************************/
/************* TABLE **************/
/**********************************/
table {
  position: relative;
  background: #dfdfdf;
  min-width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 2px;
}
table, th, td {
    /*border: 1px solid #dfdfdf;*/
}

th, td {
  /*border: 1px solid;*/
  padding: 5px;
  background: #fff;
  font-weight: 500;
  font-size: 13px;
}


.dataset-label {
  background-color: #F7F7F7;
  border: 1px solid #dfdfdf;
  color: rgb(129, 70, 96);
  border-radius: 3px;
  margin-left: 15px;
  padding: 2px 5px;
  font-size: 13px;
}

.ant-tabs {
  overflow: visible !important;
}

div.algolist-wrapper {
  margin: 15px 0px;
  border-radius: 5px;
  background: #F7F7F7;
  border: 1px solid #e9e9e9;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

div.algolist-header {
  background: #F7F7F7;
  width: 100%;
  top: 0px;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #e9e9e9;
}

div.algolist-content {
  padding: 15px 15px;
}


/**********************************/
/************* DASHBOARD **************/
/**********************************/

.ant-card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.dashboard-number {
  text-align: center;
  padding: 20px 0px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  margin: 10px;
  white-space: nowrap;
  h1{
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
  }
}

.filterer {
  min-width: 520px;
  max-width: 1020px;
  overflow: hidden;
  width: auto;
  position: relative;
  float: right;
  text-align: right;

  .sort-button {
    margin:0px;
    border: 0px solid;
    min-width: 90px;
    // max-width: 150;
    outline: none !important;

    > div {
      border: 1px solid #e9e9e9;
      border-radius: 0px;
      border-right: 0px;
    }
  }
  .sort-button:first-child > div {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .sort-button:last-child {
    border-right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .sort-button.apply {
    // max-width: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.ant-tabs-bar {
  border-bottom: 0px solid;
}

.recharts-rectangle {
  fill: rgba(237, 237, 237, 0.7) !important;
}


/**********************************/
/************* LOGIN **************/
/**********************************/

.ant-input,
.ant-mention-editor{
  background: #f9f9f9 !important;
  color: #8d8e9a !important;
}
.ant-form-item-label {
  padding: 0px;
}
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content:center;
}

.form-logo {
  height: 75px;
  text-align: center;
  position: relative;
  margin: auto;
  display: block;
  top: -40px;
}

.login-form {
  max-width: 370px;
  min-width: 350px;
  background: #fff;
  display: block;
  border-radius: 10px;
  margin-top: 20px;
  padding: 50px 30px;
  padding-bottom: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.login-form h1,
.login-form p {
  margin-bottom: 20px;
  text-align: center;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  margin-top: 20px;
}



/**********************************/
/************ GET STARTED *************/
/**********************************/

.getstarted {
  margin: 30px 0px;
}

.snippet {
  background-color: #F7F7F7;
  border: 1px solid #dfdfdf;
  color: rgb(89, 70, 129);
  border-radius: 3px;
  margin: 10px 0px;
  padding: 8px 10px;
  font-size: 13px;
  width: auto;
  line-height: 20px;
}


.ant-btn.ant-btn-primary.custom-primary {
    border: none;
    padding: 5px 15px;
    box-shadow: 3px 3px 10px 0 #a7b5c2;
}

.ant-btn.ant-btn-primary.custom-primary:hover {
    box-shadow: 0px 0px 0px 0 #a2b3c2;
}



/* use css to set position of modal */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.experiment-settings-item {
  background: #F7F7F7;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #EFEFEF;
  clear: both;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px 20px 50px -10px white;
  h3 {
    margin: 5px;
  }
}
